footer {
  width: 100%;
  height: 150px;
  background: #fafafbff;
  border-radius: 0px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-top: auto;
  padding: 20px 0;

  // position: fixed;
  // bottom: 0;
  // left: 0;

  h3 {
    margin-bottom: 10px;
  }
  li {
    margin: 10px 0;
  }
}
